fastapi
uvicorn
websockets
sqlalchemy
face_recognition
opencv-contrib-python-headless
mediapipe
python-multipart
numpy
pydantic
# ultralytics (Commented out to speed up build and save RAM)
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1